.cards3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 250px;
}

.cards3__heading {
  color: rgb(24, 33, 109);
  font-size: 54px;
  line-height: 1.18;
  font-weight: 600;
  margin-bottom: 25px;
}

.cards3__text {
  max-width: 495px;
  color: rgb(24, 33, 109);
  font-size: 21px;
  line-height: 1.41;
  max-width: 495px;
  margin-bottom: 25px;
}
